<% quizzes ||= @quizzes %>
<% quiz_response_finished_ids ||= @quiz_response_finished_ids || [] %>
<% quiz_response_in_progress_ids ||= @quiz_response_in_progress_ids || [] %>

<div class="full-screen-table">
  <table class="table table-sm table-striped">
    <tbody>
      <% quizzes.each do |quiz| %>
        <tr>
          <td class="hidden">
            <%= link_to l(quiz.created_at, format: :convert_time), quiz_path(quiz), class: "convertTime link" %>
          </td>
          <td>
            <%= link_to quiz_path(quiz) do %>
              <%= quiz_title_display(quiz) %>
            <% end %>
          </td>
          <td>
            <% if quiz_response_finished_ids.include?(quiz.id) %>
              <span class="text-success">
                completed
              </span>
                <% quiz_response_at = quiz.quiz_responses.last&.updated_at %>
                <% if quiz_response_at.present? %>
                  <span class="text-sm less-strong convertTime withPreposition"><%= l(quiz_response_at, format: :convert_time) %></span>
                <% end %>

            <% elsif quiz_response_in_progress_ids.include?(quiz.id) %>
              <span class="less-strong">started</span>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
