<%= content_for :main_wrapper_class, "container-padded" %>
<div class="large-width-container">
  <h1 class="standard-top-offset mb-4">Admin Citations</h1>
  <%= render partial: "/shared/current_header", locals: {collection: @citations, render_period: true} %>
</div>

<%= render partial: "/admin/citations/table", locals: {citations: @citations, skip_sortable: false} %>

<%= render partial: "tranzito_utils/pagination", locals: {collection: @citations, skip_total: true} %>
