<% if @viewing_current_user && @user_followings.unapproved.any? %>
  <h2 class="mb-4">Followers waiting on approval</h2>
  <div class="mb-10">
    <%= render partial: "followers_table", locals: {user_followings: @user_followings.unapproved} %>
  </div>
<% end %>
<h1 class="mb-4">
  <% if @viewing_current_user %>
    Your
    <% if @user.account_private? %>approved<% end %>
    followers
  <% else %>
    <%= link_to @user.username, ratings_path(user: @user) %> followers
  <% end %>
</h1>
<%= render partial: "followers_table", locals: {user_followings: @user_followings.approved} %>
