<p class="mt-5 mb-3">Convus is a project to help humanity communicate better.</p>
<p class="mb-3">It aims to support well-reasoned, diverse conversation&mdash;instead of outrage and hot takes.</p>
<p class="mb-3">Get the <%= link_to "browser extension", browser_extensions_path %></p>
