<h1 class="standard-top-offset mb-3">About</h1>

<p class="mb-3">Convus is a project to help people communicate better.</p>

<p class="mb-3">It aims to support well-reasoned, diverse conversation&mdash;instead of outrage and hot takes.</p>

<p class="mb-3">Use it to learn about how other people think and where their opinions come from.</p>

<p class="mb-3">Get the <%= link_to "browser extension", browser_extensions_path %>.</p>
