<%= turbo_frame_tag :content do %>
  <% if current_user.blank? %>
    <h4>Please log in</h4>
    <%= link_to "Log in", new_user_session_url %>
  <% else %>
    <%= render partial: "/reviews/form" %>
  <% end %>
<% end %>
