<h1 class="standard-top-offset">Authenticate your browser extension</h1>
<h2 class="my-4">Congratulations! You've signed in to your browser extension</h2>
<p class="mt-4">You can close this window</p>
<script>
  window.apiToken = '<%= current_user.api_token %>';
  window.username = '<%= current_user.username %>';
</script>
