<%= turbo_frame_tag :new_review do %>
  <% if current_user.blank? %>
    <h4>Please log in</h4>
    <%= link_to "Log in", new_user_session_url, target: "_blank" %>
  <% else %>
    <%= render partial: "/reviews/form" %>
  <% end %>
<% end %>
