<h1>Browser extensions</h1>
<div class="row grid-cols-3 mt-10">
  <div class="col text-center"><%= link_to "Safari", "#" %></div>
  <div class="col text-center"><%= link_to "Chrome", "#" %></div>
  <div class="col text-center"><%= link_to "Firefox", "https://addons.mozilla.org/en-US/firefox/addon/convus/" %></div>
</div>
