<%= content_for :main_wrapper_class, "small-width-padded-container" %>
<h2 class="standard-top-offset mb-4">Find the best articles about <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>.</h2>
<p class="mb-2">Curious about how other people think? About where their opinions come from?</p>
<p class="mb-2">Convus is a place to find and share high quality writing, and discuss what the best articles on a given topic are.</p>
<p class="mb-2">How it works:</p>
<p class="mb-3">Reviewing is fast and doesn't require writing anything&mdash;install the <%= link_to "browser extension", browser_extensions_path %> and give it a try.</p>
