<h2 class="standard-top-offset mb-4">Find the best articles about <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>.</h2>
<p class="mb-5">Convus is a place to find and share high quality writing&mdash;install the <%= link_to "app or browser extension", browser_extensions_path %> to rate articles you read.</p>

<%= render partial: "/ratings/table", locals: {ratings: @ratings, render_user: true, hide_private_users: true, skip_header: true, url_for_route: ratings_path} %>

<h4 class="mt-5"><%= link_to "... view more ratings", ratings_landing_url %></h4>

<h2 class="standard-top-offset mb-3">Or take a quiz:</h2>

<%= render partial: "/quizzes/table", locals: {quizzes: @quizzes} %>
