<h2 class="standard-top-offset mb-4">Find the best articles about <span class="underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>.</h2>
<p class="mb-10">Convus is a place to find and share high quality writing&mdash;install the <%= link_to "app or browser extension", browser_extensions_path %> to rate articles you read.</p>

<%= render partial: "/quizzes/table", locals: {quizzes: @quizzes} %>

<h4 class="mt-5"><%= link_to "... view more quizzes", quizzes_path %></h4>
