<div class="large-width-container standard-top-offset mb-4">
  <h2>
    <%= admin_number_display(@quiz_questions.count) %>
    <%= "Questions".pluralize(@quiz_questions) %>
  </h2>
</div>

<%= render partial: "/admin/quizzes/quiz_questions_table", locals: {quiz_questions: @quiz_questions, skip_sortable: true} %>

<% if display_dev_info? && !@quiz.parse_errored? %>
  <div class="large-width-container mt-4">
    <p class="only-dev-visible">Input Text Parsed</p>
    <div class="code-small">
      <%= pretty_print_json(QuizParseAndCreateQuestionsJob.parsed_input_text(@quiz)) %>
    </div>
  </div>
<% end %>
