<h1 class="standard-top-offset mb-4">Admin Quizzes</h1>

<%= render partial: "/shared/current_header", locals: {collection: @quizzes, render_period: true} %>

<%= render partial: "table", locals: {quizzes: @quizzes, skip_sortable: false} %>
