<%= content_for :main_wrapper_class, "container-padded" %>
<div class="large-width-container">
  <h1 class="standard-top-offset">
    New Quiz
  </h1>
</div>

<h2 class="large-width-container mt-4 mb-0">For Citation:</h2>
<%= render partial: "/admin/citations/table", locals: {citations: [@citation], skip_sortable: true, filter_link: admin_citations_path} %>

<div class="large-width-container mt-4">
  <%= render partial: "form", locals: {quiz: @quiz} %>
</div>
