<%= content_for :main_wrapper_class, "container-padded" %>
<div class="large-width-container">
  <h1 class="standard-top-offset">
    New Quiz
  </h1>
</div>

<div class="large-width-container mt-4 mb-8">
  <span class="font-bold block">Citation:</span>
  <%= admin_citation_cell(@citation, filter_link: admin_citations_path) %>
</div>

<div class="large-width-container mt-4">
  <%= render partial: "form", locals: {quiz: @quiz} %>
</div>
