<% topic_review_citations ||= @topic_review_citations %>
<% title ||= "Best articles" %>

<div class="border border-gray-200">
  <h3 class="pt-2 pb-1.5 px-2.5"><%= title %></h3>
  <ul class="list-striped border-0">
    <% topic_review_citations.each do |trc| %>
      <li class="block pt-2 pb-1.5 px-2.5"><%= citation_display(trc.citation, {class: "block"}) %></li>
    <% end %>
  </ul>
</div>
