<%# Rendering errors requires an `obj` and also a `name` %>
<% if obj.errors.any? %>
  <div id="errorMessage" class="alert alert-error mb-4" role="alert">
    <div class="alert-header">
      <div class="flex items-center mr-2">
        <h6>
          <%= pluralize(obj.errors.count, "error") %> prevented this <%= name %> from being saved!
        </h6>
      </div>
    </div>
    <div class="alert-description">
      <ul class="mt-2">
        <% obj.errors.full_messages.each do |message| %>
          <li class="block">
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
