<%#
  Pass in total count.

  No need to render period select if there aren't a good number -  unless we're viewing a period already
%>
<% total_count ||= 0 %>
<% if total_count > 25 || @period != "all" %>
  <%= render partial: "/tranzito_utils/period_select" %>
  <%#
    Include these classes, required because period-select uses these classes and tailwind doesn't include them
  %>
  <div class="hidden mr-2 ml-2 text-right"></div>
<% end %>
