/* extension popup ID - make sure it matches the extension! */
#body-popup, #new_review.no-layout {
  min-width: 375px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}


/* Special styles to mock up the extension for local testing */
#new_review.no-layout {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
}
