/* Turboframe ID - make sure it */
#body-popup {
  min-width: 375px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.extension-links {
  & img {
    @apply block mx-auto w-1/2 mt-4;
  }
}
