/* extension popup ID - make sure it matches the extension! */
#body-popup, #new_review.no-layout {
  @apply pt-2;
  padding-left: 0.75rem; /* update review menu if changed */
  padding-right: 0.75rem; /* update review menu if changed */
  min-width: 375px;
}

#review-menu-btn {
  @apply rounded-lg;
  &:hover, &:active, &.active, &:focus {
    @apply  opacity-100 focus:ring-2 bg-gray-200;
  }
  & svg {
    height: 1.75rem;
  }
}

#review-menu {
  @apply mt-4;
  & hr {
    margin: 0 -0.75rem;
  }
}

/* Special styles to mock up the extension for local testing */
#new_review.no-layout {
  max-width: 375px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.target-firefox .hidden-firefox,
.target-chrome .hidden-chrome,
.target-safari .hidden-safari,
.target-safari_ios .hidden-safari_ios {
  @apply hidden;
}
