a {
  @apply text-bodytext underline;
}

.link-primary {
  @apply text-primary;
  text-decoration: none;
}

/* Done by tranzito_utils, but - may modify later */
.gray-link {
  color: #6c757d;
  opacity: 0.65;
  text-decoration: underline;
}

@layer components {
  .btn {
    @apply inline-flex text-bodytext leading-5 items-center border border-gray-500 bg-gray-100 cursor-pointer rounded-lg py-1 px-3 justify-center disabled:bg-gray-200 disabled:hover:bg-gray-200 disabled:cursor-not-allowed;
    text-decoration: none;
    &:hover, &.active, &:active {
      @apply bg-gray-200 border-gray-600
    }
  }
}
