.table {
  @apply w-full text-left;

  & thead {
    @apply bg-gray-100;
  }

  & tr {
    @apply border-y border-gray-200;
  }

  & th {
    @apply !font-semibold text-xs;
  }

  & th,
  td {
    @apply py-2 px-5;
  }

  & td ul {
    padding: 0 0 0 1.5rem;
    margin: 0.5rem 0 0.5rem;
  }

  &.table-bordered {
    & tr, & td {
      @apply border-x;
    }
  }

  &.table-sm {
    & th, td {
      @apply py-1 px-2
    }
  }
}

.full-screen-table-auto-width table {
  @apply lg:mx-auto;
  width: auto;
}

.full-screen-table-overflown {
  @apply overflow-x-scroll -mx-container-pad px-0;
}

.full-screen-table {
  @apply px-container-pad max-lg:-mx-container-pad px-0; /* lg:px-container-pad;*/
}

.sortable .sortable-link {
  @apply text-bodytext underline;
}

/*
  Review ranking table
*/
.table.hide_header {
  & thead {
    @apply invisible;
    & tr, & th {
      @apply border-transparent py-0 leading-none;
    }
  }
}

.rank-cell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  & input::-webkit-outer-spin-button,
  & input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  & input[type=number] {
    -moz-appearance: textfield;
  }
}
