/*
  Override (or cover) things from tranzito_utils bootstrap functionality

  NOTE: TranzitoUtils Table styles are overridden in tables
*/

#timeSelectionBtnGroup {
  @apply mb-6;

  .d-none { @apply hidden; }
  /* without the mr-1, there is no space between things */
  .d-md-inline-block { @apply md:inline-flex mr-1; }
}

#timeSelectionCustom {
  @apply hidden;
  &.in {
    @apply flex visible -mt-2 mb-6;
   }
}

#updatePeriodSelectCustom {
  /* Make this button the same size as the other buttons */
  margin-top: 2px;
  margin-bottom: 2px;
}

/*

  This pagination stuff is gross

*/
.pagination-container .page-item {
  @apply inline-flex text-bodytext leading-5 items-center justify-center;
}

.pagination-container .page-item a {
  @apply py-1 px-3 no-underline border border-gray-500 bg-gray-100 rounded-lg disabled:bg-gray-200 disabled:hover:bg-gray-200 disabled:cursor-not-allowed;
}
.pagination-container .page-item a:hover, .pagination-container .page-item.active a, .pagination-container .page-item a:active {
    @apply bg-gray-200 border-gray-600;
}

.pagination-container .pagination-flex.justify-content-md-end {
  @apply min-w-full md:min-w-0 md:ml-auto;
}
