<h1 class="standard-top-offset mb-4">
  Current review topic is
  <% if @topic_review.present? %>
    <%= topic_review_display(@topic_review) %>
  <% else %>
    <em>no topic! something is broken!</em>
  <% end %>
</h1>
