<h1 class="mb-3">Edit Review</h1>
<%= render partial: "form", locals: {review: @review} %>
<div class="mt-5 text-right">
  <%= link_to "delete review", review_path(@review), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this review?"}, class: "gray-link"  %>
</div>
