<h1 class="mb-3">Edit Rating</h1>
<%= render partial: "form", locals: {rating: @rating} %>
<div class="mt-5 text-right">
  <%= button_to "delete rating", {controller: "ratings", action: "destroy", id: @rating.id},method: :delete, data: {turbo_confirm: "Are you sure you want to remove this rating?"}, class: "gray-link"  %>
</div>
