<div class="large-width-container standard-top-offset">
  <% if primary_topic_review.present? %>
    <h1 class="mb-4">
      The current topic in review is
      <%= link_to topic_review_display(primary_topic_review), review_path(primary_topic_review.to_param) %>
    </h1>
    <!-- <p class="mb-4">View <%= link_to "articles on #{primary_topic_review.topic_name}", review_path(primary_topic_review.to_param) %> -->
  <% end %>
</div>

<div class="standard-top-offset">
  <h3>Previous topics:</h3>
  <ul class="list-disc pl-5">
    <% @topic_reviews.each do |topic_review| %>
      <li class="py-1 px-2 max-w-prose"><%= link_to topic_review.topic_name, review_path(topic_review.to_param) %></li>
    <% end %>
  </ul>
</div>
