<h1 class="mb-5">
  Reviews by
  <%= link_to user_subject.username, u_path(user_subject) %>
</h1>

<% if @reviews.total_count.zero? %>
  <h4>No reviews found</h4>
<% else %>
  <%= render partial: "/shared/period_select", locals: {total_count: @reviews.total_count} %>
  <%= render partial: "table", locals: {reviews: @reviews, edit_reviews: user_subject == current_user} %>
  <div class="row">
    <%= render partial: "tranzito_utils/pagination", locals: {collection: @reviews, name: "Review"} %>
  </div>
<% end %>
