<%= render partial: "/reviews/header" %>
<p class="mb-2">Select <%= link_to "articles you've read", ratings_path(user: "current_user", search_assign_topic: @topic_review&.slug) %> for this review</p>
