name: CI

on:
  push:

jobs:
  lint_and_scan_ruby:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Lint code for consistent style
        run: bin/lint --no-fix

      # brakeman hasn't been added yet
      # - name: Scan for common Rails security vulnerabilities using static analysis
      #   run: bin/brakeman --no-pager

  # scan_js:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v6

  #     - name: Set up Ruby
  #       uses: ruby/setup-ruby@v1
  #       with:
  #         ruby-version: .ruby-version
  #         bundler-cache: true

  #     - name: Scan for security vulnerabilities in JavaScript dependencies
  #       run: bin/importmap audit

  test:
    name: "Run tests"
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: postgres
        # needed because the postgres container does not provide a healthcheck
        # tmpfs makes DB faster by using RAM
        options: >-
          --mount type=tmpfs,destination=/var/lib/postgresql/data
          --health-cmd pg_isready
          --health-interval 10s
          --health-retries 5
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    env:
      RAILS_ENV: test
      PGHOST: localhost
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: password
      SKIP_PARALLEL_MIGRATIONS: true
      TZ: "America/Los_Angeles"
      COVERAGE: false # additional configuration is needed for parallelized tests
      RETRY_FLAKY: true
    steps:
      - name: Get CPU cores
        id: cpu-info
        run: echo "cpu-cores=$(nproc)" >> $GITHUB_OUTPUT
      # install system dependencies
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libvips postgresql-client
          version: 1.0
      - name: Checkout code
        uses: actions/checkout@v6
      # Install Ruby dependencies
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle install
      - name: Set up database
        run: bundle exec rails db:create db:schema:load db:migrate db:seed
      # Install JS dependencies
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          cache: "yarn"
      - name: "Yarn Install"
        run: yarn install --cache-folder ~/.cache/yarn
      - name: build assets
        run: bundle exec rails assets:precompile --trace
      # Run tests
      - name: Run tests
        run: |
          mkdir -p test-results/rspec test-artifacts
          bundle exec rspec --force-color \
                            --order random \
                            --format documentation \
                            --format RSpec::Github::Formatter
